DATABASE_URL="postgresql://KULLANICI:SIFRE@HOST/DB?sslmode=require"

ROOT_ADMIN_USERNAME="admin"
PASSWORD_SECRET_KEY="32HaneliRastgelePasswordSecret"
JWT_ACCESS_SECRET="32HaneliRastgeleAccessSecret"
JWT_REFRESH_SECRET="32HaneliRastgeleRefreshSecret"
